.pageWrapper {
  min-height: 100vh;
  background-color: $bg-main;
}

.mainContent {
  width: 144rem;
  max-width: calc(100vw - 8rem);
  margin: 0 auto;
  padding: 0 0 2.4rem;
  position: relative;
  min-height: calc(100vh - 7.8rem);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.pageTitle {
  color: $black;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1;
  margin: 4rem 0 2rem;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(3, 40rem);
  gap: 2rem 12rem;
  justify-content: start;
  align-items: start;
  min-height: 59.4rem;
}

.paginationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
  padding-bottom: 0;
}

@media (max-width: 1520px) {
  .mainContent {
    width: 92rem;
  }

  .projectsGrid {
    grid-template-columns: repeat(2, 40rem);
    column-gap: 12rem;
  }
}

@media (max-width: 980px) {
  .mainContent {
    width: 40rem;
    max-width: calc(100vw - 3.2rem);
  }

  .projectsGrid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
